<div>
    <h2>Hub API</h2>
    <form v-on:submit.prevent="addMessage">
        <input type="text" v-model="newMessage">
        <input type="submit" value="Send">
    </form>

    <h2>REST API</h2>
    <form v-on:submit.prevent="addRestMessage">
        <input type="text" v-model="newRestMessage">
        <input type="submit" value="Send">
    </form>

    <h2>Streaming Hub</h2>
    <form v-on:submit.prevent="countDown">
        <input type="text" v-model="number">
        <input type="submit" value="Send">
    </form>

    <ul>
        <li v-for="message in messages">{{message}}</li>
    </ul>
</div>