@page
@model IndexModel

<div class="columns">
    <div id="serverForm" class="column is-half">

        <form method="POST" v-on:submit="validateBeforeSubmit($event)" novalidate>
            <div class="field">
                <label class="label" asp-for="Input.Name"></label>
                <div class="control has-icons-left">
                    <input class="input" v-bind:class="{'is-danger': errors.has('Input.Name')}" type="text" asp-for="Input.Name" />
                    <span v-show="fields['Input.Name'] && fields['Input.Name'].dirty" class="icon is-small is-left has-text-warning">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                </div>
                <p v-show="errors.has('Input.Name')" class="help is-danger">{{errors.first('Input.Name')}}</p>
            </div>

            <div class="field">
                <label class="label" asp-for="Input.UserName"></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" v-bind:class="{'is-danger': errors.has('Input.UserName')}" type="text" asp-for="Input.UserName" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <p v-show="errors.has('Input.UserName')" class="help is-danger">{{errors.first('Input.UserName')}}</p>
            </div>

            <div class="field">
                <label class="label" asp-for="Input.Email"></label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" v-bind:class="{'is-danger': errors.has('Input.Email')}" type="email" asp-for="Input.Email" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <p v-show="errors.has('Input.Email')" class="help is-danger">{{errors.first('Input.Email')}}</p>
            </div>


            <div class="field">
                <label class="label" asp-for="Input.Message"></label>
                <div class="control">
                    <textarea class="textarea" asp-for="Input.Message"></textarea>
                </div>
            </div>


            <div class="field is-grouped">
                <div class="control">
                    <button v-bind:disabled="errors.any()" type="submit" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-text">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    @section scripts {
        <script src="~/main.build.js" asp-append-version="true"></script>
    }
</div>